
<DOCTYPE!=html>
    <head>
        <title>VINAYAKA SECURITY SERVICES</title>
    </head>
    <body>
	     {% for post in posts %}
        <div>
            <h1><a href="/">{{ post.title }}</a></h1>
        </div>

        <div>
            <p>published: {{ post.published_date }}</p>
            <h2><a href="">ABOUT US</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>

        <div>
            <p>published: {{ post.published_date }}</p>
            <h2><a href="">CLIENTS</a></h2>
            <p>(a)	  Transstroy Toll Ways - Tirupati to Chennai High Ways<br>
               (b)	  Hotel Marasa Sarovar, Tirupati<br>
               (c)	   Hotel Keys Vihas, Tirupati<br>
               (d)	   Prakruti Infrastructures Pvt Ltd. Tirupati<br>
               (e)	   OLA Cabs, Tirupati<br>
               (f)	   PVKN Govt College, Chittoor<br>
               (g)	   SYNERGY Remedies (P) Ltd, Gajulamanyam, Renigunta<br>
               (h)	   AS Constructions (P) Ltd, Mallimadugu, Karakambadi<br>
               (i)	   ISKCON (IFRF & GOSHALA), Tirupati & Chinnagottigallu
            </p>
        </div>
		{% endfor %}
    </body>
</html>