<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
</head>
<body> 
 
  <h1 > Vinayaka Security Services</h1>
  <h2> gopal</h2><br>
  <p1 style= "text-align:center;font-family:elephant;color:blue"> He is managing director of the company 
  
  
  </p1>
  <hr> 
    
   <h2>    ravindra babu </h2><br>
    <p1 style= "text-align:center;font-family:elephant;color:blue"> He is managing director of the company 
  
    
  </p1>
    <hr>
    <h2>   bangaraiah naidu</h2> 
      
      
    <p1 style= "text-align:center;font-family:elephant;color:blue"> He is managing director of the company 
    
  </p1> 
    <br>
<p id=abc>
  This company has established in year 2014
  </p>  
 
<style>
body
{
background:url(E:\New folder\New folder\5a75f1d930f61da65847f63e3bdb093cc9221ed7af6fb5d4006afe10b2a873f1.jpg)



}
h1
{
  text-align:center;
  font-family:elephant;
  color:blue;> 
}
  
h2
{
  
  font-family:arial;
  color:brown;
}
#abc
  {
    font-family:arial;
     color:brown;
    text-align:center
    
  }
  
  
 </style>  
</body>
</html>