
<DOCTYPE!=html>
    <head>
        <title>VINAYAKA SECURITY SERVICES</title>
    </head>
    <body>
        <div>
            <h1><a href="/">HOME</a></h1>
        </div>

        <div>
            <p>published: 21.12.2017, 11:33</p>
            <h2><a href="">ABOUT US</a></h2>
            <p>Vinayaka Security Services was formed & headed by Mr.S GOPAL (Retired H/Captain) with 28 years of colorful, dedicated and unblemished service in Indian Army.  He was  felicitated with Honorary Commission (Captain) by the President of India in recognition to his meritorious services in various Operations.  The company is undertaking the following assignments state wide.</p>
        </div>

        <div>
            <p>published: 21.12.2017, 11:33</p>
            <h2><a href="">CLIENTS</a></h2>
            <p>(a)	  Transstroy Toll Ways - Tirupati to Chennai High Ways<br>
               (b)	  Hotel Marasa Sarovar, Tirupati<br>
               (c)	   Hotel Keys Vihas, Tirupati<br>
               (d)	   Prakruti Infrastructures Pvt Ltd. Tirupati<br>
               (e)	   OLA Cabs, Tirupati<br>
               (f)	   PVKN Govt College, Chittoor<br>
               (g)	   SYNERGY Remedies (P) Ltd, Gajulamanyam, Renigunta<br>
               (h)	   AS Constructions (P) Ltd, Mallimadugu, Karakambadi<br>
               (i)	   ISKCON (IFRF & GOSHALA), Tirupati & Chinnagottigallu
            </p>
        </div>
    </body>
</html>